body{
    font-size: 16px;
    line-height: 1.5;
    /* margin-bottom: 0px; */
    /* background-color: rgb(245, 92, 92); */
    
}

.navbar{
    background-color: darkblue !important;
    color: white !important;
}

#site-main{
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 80px 100px;
    /* background-color: rgb(243, 152, 152); */
}

#site-footer{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: darkblue;
    color: white;
    
}
.btn{
    padding: 10px;
    border-radius: 10px;
    background-color:white;
    color: darkgreen;
    border: 2px solid darkgreen;
}

.btn:hover {
    background-color: darkgreen;
    color: white;
  }
h1{
    font-weight: bold;
    color: darkblue;
    font-family: 'Times New Roman';
}
th{
    background-color: darkblue;
    color: white;
}
tr{
    background-color: rgb(92, 206, 221);
    font-weight: 500;
}

.btn2{
    background-color: darkblue;
    
}
.btn2:hover{
    text-decoration: none;
}
.btn3{
    background-color: red;
}
.btn3:hover{
    text-decoration: none;
    
}
.form-control{
    margin-left: 50px;
    width: 180%;
}
label{
   margin-left: 50px;
   font-weight: bold;
   color: darkblue;
}
.btn1{
    margin-left: 50px;
    padding: 5px;
    border-radius: 10px;
    background-color:white;
    color: darkgreen;
    border: 2px solid darkgreen;
    font-size: 17px;
    font-weight: bold;
    width:40%;
    
}

.btn1:hover{
    background-color: darkgreen;
    color: white;
}
.row{
    background-color: rgb(63, 226, 231);
    width: 50%;
    margin-left: 300px;
    padding: 20px;
}

.err{
    margin-left: 50px;
    width:100%;
    font-weight: 500;
    
}

